.swiper-button-prev,
.swiper-button-next {
  color: white;
  position: absolute;
  z-index: 60; 
  opacity: 1;
  transform: rotate(90deg);
  --swiper-navigation-size: 30px;
}

.swiper-button-prev {
  left: 4%;
  top: 60%;
  transform: translateY(-50%) rotate(90deg);
}

.swiper-button-next {
  left: 4%;
  top: 70%;
  transform: translateY(-50%) rotate(90deg);
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1;
}

.relative-image {
  position: relative;
  z-index: 50;
}
