.vertical .swiper-button-prev,
.vertical .swiper-button-next {
  color: white;
  position: absolute;
  z-index: 60; /* Asegura que las flechas estén por encima de la imagen */
  opacity: 1;
  transform: rotate(90deg);
  --swiper-navigation-size: 20px;
}

/* Posiciona las flechas fuera del Swiper y sobre la imagen estática */
.vertical .swiper-button-prev {
  left: 5%;
  top: 60%;
  transform: translateY(-50%) rotate(90deg);
}

.vertical .swiper-button-next {
  left: 5%;
  top: 70%;
  transform: translateY(-50%) rotate(90deg);
}

/* Mantén la opacidad al 1 cuando se hace hover sobre el Swiper */
.vertical .swiper:hover .swiper-button-prev,
.vertical .swiper:hover .swiper-button-next {
  opacity: 1;
}

/* Asegúrate de que la imagen estática tenga position: relative */
.relative-image {
  position: relative;
  z-index: 50;
}
.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(90deg);
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0);
    transform: rotate(90deg);
  }
}
