.swwiper-navigation-horizontal .swiper-button-prev,
.swwiper-navigation-horizontal .swiper-button-next {
  padding: 5%;
  color: white;
  transform: rotate(0deg);
}

@media (max-width: 768px) {
  .swiper-button-prev {
    width: 5px;
    height: 5px;
  }
}
